.card__btn_action_del {
    width: 18px;
    height: 19px;
    
    background: none;
    background-image: url(../../../../icons/card-btn-delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: none;
  
    position: absolute;
    top: 18px;
    right: 15px;
  }