.profile__redact_btn {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background: transparent url(../../../../icons/redact_vector.svg) no-repeat center;
    align-self: center;
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 600px) {
    .profile__redact_btn {
        width: 18px;
        height: 18px;
    }
}

.profile__redact_btn:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: all .5s ease-in-out;
}