.popup__container {
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    width: 100%;
    max-width: 430px;
    min-width: 282px;
    height: min(332px, calc(100vh - 100px));
    padding: 0;
    margin: 0;
    outline: none;
}

@media screen and (max-width: 600px) {
    .popup__container {
        margin: 0 19px 0;
        transition: all .3s ease-in-out;
    }
}