@import url(./__avatar-area/profile__avatar-area.css);
@import url(./__avatar-edit/profile__avatar-edit.css);
@import url(./__name-container/profile__name-container.css);
@import url(./__info/profile__info.css);
@import url(./__redact_btn/profile__redact_btn.css);
@import url(./__profession/profile__profession.css);
@import url(./__name/profile__name.css);
@import url(./__add_button/profile__add_button.css);
.profile {
    display: flex;
    max-width: 800px;
    max-height: 120px;
    margin: 50px auto auto;
    border: 1px solid red;
    align-items: center;
}