@import url(./__logo/header__logo.css);
.header {
    border-bottom: 1px solid #545454;
    width: 800px;
    margin: auto;
}

@media screen and (max-width: 980px) {
    .header {
        width: 100%;
        transition: all .5s ease-in-out;
    }
}