@import url(./__logo/header__logo.css);
.header {
    border-bottom: 1px solid #545454;
    width: 800px;
    margin: auto;
}

@media screen and (max-width: 760px) {
    .header {
        margin-top: 28px;
        width: 320px;
    }
}

@media screen and (max-width: 980px) {
    .header {
        width: 581px;
    }
}