.card__like_btn {
    width: 22px;
    height: 19px;
    border: none;
    background: url(../../../../mesto/icons/like_btn.svg) no-repeat center;
    align-self: center;
    transition: all .5s ease-in-out;
}

.card__like_btn:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: all .5s ease-in-out;
}