.profile__add_button {
    width: 150px;
    height: 50px;
    border: 2px solid white;
    border-radius: 2px;
    background: transparent url('/images/icon/add.svg') no-repeat center;
}

@media screen and (max-width: 600px) {
    .profile__add_button {
        width: 100%;
        margin-top: 36px;
    }
}