.profile__avatar {
    height: 120px;
    width: 120px;
    flex: 0;
    border-radius: 60px;
    margin: 0 30px 0 0;
    background-position: center;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .profile__avatar {
        margin: 0;
    }
}