.profile__name-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .profile__name-container {
        justify-content: center;
        overflow: visible;
    }
}