.profile__info {
    color: #fff;
    height: 73px;
    min-width: 0;
    max-width: unset;
    flex: 1 1 auto;
    padding-right: 30px;
    font-family: Inter;
    overflow: visible;
}

@media screen and (max-width: 838px) {
    .profile__info {
        padding-right: 0
    }
}

@media screen and (max-width: 600px) {
    .profile__info {
        height: 54px;
        margin-top: 26px;
        min-width: 282px;
    }
}