.popup__btn_action_close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    border: none;
    background: url('/images/icon/close_btn.svg') no-repeat center;
}